<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}

{% block content %}


</br>
<div class="container">
<h2>Create a Borrower</h2>



<div class="w-50 p-3 text-center">

    <form  action="{{ url_for('createBorrower') }}" method="post">
      <!-- Borrower input -->
        <div class="form-outline mb-4">
            <label>First Name</label>

            <input type="text" class="form-control me-2" id="fname" name="fname" placeholder="First Name" required>

        </div>

        <div class="form-outline mb-4">
            <label>Family Name</label>

            <input type="text" class="form-control me-2" id="lname" name="lname" placeholder="Family Name" required>

        </div>

        <div class="form-outline mb-4">
            <label>Date of Birth</label>

            <input type="date" class="form-control me-2" id="dob" name="dob" placeholder="Date of Birth" required>

        </div>

        <div class="form-outline mb-4">
            <label>House Numer / Name</label>

            <input type="text" class="form-control me-2" id="house" name="house" placeholder="House Numer / Name" required>
        </div>

        <div class="form-outline mb-4">
            <label> Street </label>

            <input type="text" class="form-control me-2" id="street" name="street" placeholder="Street" required>
        </div>

        <div class="form-outline mb-4">
            <label>Town</label>

            <input type="text" class="form-control me-2" id="town" name="town" placeholder="Town" required>

        </div>

        <div class="form-outline mb-4">
            <label>City</label>

            <input type="text" class="form-control me-2" id="city" name="city" placeholder="City" required>

        </div>

        <div class="form-outline mb-4">
            <label>Postal Code</label>

            <input type="number" class="form-control me-2" id="pcode" name="pcode" placeholder="Postal Code" required>
        </div>

    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">
        Submit</button>
    </form>
    
</div>

{% endblock %}

{% endif %}