<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}

{% block content %}


</br>
<div class="container">
<h2>Create a Borrower</h2>



<div class="w-50 p-3 text-center">

    <form  action="{{ url_for('createBorrower') }}" method="post">
        {{ form.csrf_token }}
      <!-- Borrower input -->
        <div class="form-outline mb-4">
            <label>{{ form.firstname.label() }}</label>

            {{ form.firstname(class="form-control me-2") }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.familyname.label() }}</label>

            {{ form.familyname(class="form-control me-2") }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.dateofbirth.label() }}</label>

            {{ form.dateofbirth( class="form-control me-2 datepicker", type="date") }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.housenumber.label() }}</label>

            {{ form.housenumber( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.street.label() }}</label>

            {{ form.street( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.town.label() }}</label>

            {{ form.town( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.city.label() }}</label>

            {{ form.city( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.postcode.label() }}</label>

            {{ form.postcode( class="form-control me-2" ) }}
        </div>

    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">
        Submit</button>
    </form>
    
</div>

{% endblock %}

{% endif %}