<!-- Lu-Yung Huang  1154980-->

{% extends "staff.html" %}
{% block content %}



<div class="w-50 p-3 text-center">
<form action="/staff/loan/add" method="post">
  <!-- Borrower input -->

  <div class="form-outline mb-4">

    <select class="form-select" id="selectborrower" name="selectborrower" required>
      <option selected value> Select a Borrower! </option>
      {% for borrower in borrowerlist %}

      
      <option value = {{borrower[0]}}> {{ borrower[1] + " " + borrower[2] }} </option>
      {% endfor %}
    </select>

    <label class="form-label" >Select a borrower, please.</label>
  </div>

  <!-- Book input -->
  <div class="form-outline mb-4">

    <select class="form-select" id="selectbook" name="selectbook" required>
      <option selected value> Select a Book! </option>
      {% for book in booklist %}
      {% set b_id = book[0] %}

      <option value = {{b_id}}> {{ "{}: {} / {}".format(b_id, book[4], book[2]) }} </option>
      {% endfor %}
    </select>

    <label class="form-label" >Select a book, please.</label>
  </div>

  <!-- Date input -->
  <div class="form-outline mb-4">

    <input type="hidden" id="loandate" name="loandate"
       value= {{loandate}}
       min="2018-01-01" max="2040-12-31">
       
       <label class="form-label" >Date is automatically set to today.</label>
  </div>

  <!-- Submit button -->
  <input type="submit" class="btn btn-primary btn-block">


</form>

</div>


{% endblock %}