
<!-- Lu-Yung Huang  1154980-->

{% extends "staff.html" %}
{% block content %}

<!-- borrowers is the variable passed in listing borrowers -->
<!-- books is the variable passed in listing available books -->
<!-- loandate is the variable passed in containing the current date -->
<!-- name for the borrower dropdown borrower should be  borrower -->
<!-- name for the book dropdown should be book-->
<!-- name for the hidden field with date should be loandate -->
<!-- URL for submission (action) of form should be loan/add -->

<div class="w-50 p-3 text-center">
<form action="/staff/loan/add" method="post">
  <!-- Borrower input -->
  {{ form.csrf_token }}
  


  <div class="form-outline mb-4">
    {{ form.borrower(class="form-select") }}
    <label class="form-label" >Select a borrower, please.</label>
  </div>

  <!-- Book input -->
  <div class="form-outline mb-4">
    {{ form.book(class="form-select") }}
    <label class="form-label" >Select a book, please.</label>
  </div>

  <!-- Date input -->
  <div class="form-outline mb-4">

    <input type="hidden" id="book_loan_date" name="book_loan_date"
       value= {{loandate}}
       min="2018-01-01" max="2040-12-31" disabled>
       
       <label class="form-label" >Date is automatically set to today.</label>
  </div>

  <!-- Submit button -->
  {{ form.submit(class="btn btn-primary btn-block") }}

</form>

</div>


{% endblock %}