{% set baseurl = (request.url_rule|string()).split("/")[1] %}
{% set endpoint = (request.url_rule|string()).split("/")[2]%}

<!-- Table -->

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Type</th>
            <th scope="col">Year of Publication</th>
            <th scope="col">Description</th>
            {% if baseurl == staff and endpoint != "search" %}
                <th scope="col">Loan times</th>
            {% endif %}
        </tr>


    </thead>
    <tbody>
        
        
    <!-- Getting data from booklist and fill them into rows -->

    {% for book in booklist %}
    

    
        
        <tr>
            {% set id = book[0] %}
            
            {% for entry in book %}
                <td scope="row">{{entry}}</td>
            {% endfor %}




            {% if baseurl == staff %}
                {% set url = 'staffbookcopies' %}
            {% else %}
                {% set url = 'bookcopies' %}
            {% endif %}
            

            

            <td><a href="{{ url_for(url, book_id=id) }}"> View copies of this book </a></td>
        </tr>
    
    {% endfor %}

    </tbody>
</table>
