{% set baseurl = (request.url_rule|string()).split("/")[1] %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {% if baseurl == staff %}
            {% include 'nav/navbarstaff.html' %}
          {% else %}
            {% include 'nav/navbarpublic.html' %}
          {% endif %}

    </div>
    
  </nav>