<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}



{% block content %}
<!-- code in here to display a list of loans -->
<!-- loanlist is the variable passed in containing list of loans -->

<h2>Overdue Loans List</h2>
<h3>A list of all overdues</h3>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            
            <th scope="col">First Name</th>
            <th scope="col">Family Name</th>
            <th scope="col">Copy ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">Format</th>
            <th scope="col">Loan date</th>
            <th scope="col">Overdue</th>
            <th scope="col">Return</th>
        </tr>


    </thead>

    

    {% set names=[] %}
    {% for loan in loanlist %}

        {% set loandate = loan[5] %}
        {% set returned = loan[6] %}

        {% if loan[12] == "eBook" %}
            {% set col="green" %}
        {% elif loan[12] == "Audio Book" %}
            {% set col="yellow" %}
        {% else %}
            {% set col="white" %}
        {% endif %}

        {% if returned %}
            {% set status="Returned"%}
        {% else %}
            {% set status="On Loan" %}
        {% endif %}

        {% if (todaydate - overdue_period) > loandate and not returned %}
            {%set overdue = 1%}
            {%set overdue_time = todaydate - (loandate + overdue_period)%}
            {% set time =  (overdue_time|string).split(',')%}
            {% set time =  time[0]%}

        {%else%}
            {%set overdue = 0%}
        {% endif %}

        
    

        <tr bgcolor = "{{col}}">
            {% if (loan[1], loan[2]) in names %}

                {% for entry in ["", "",loan[4], loan[8],loan[12],  (loandate|string), time] %}

                    {% if overdue %}

                    <td scope="row">{{entry}}</td>
                    {% endif %}
                {% endfor %}

            {% else %}

                {% for entry in [loan[1], loan[2], loan[4], loan[8], loan[12], (loandate|string), time] %}
                    {% if overdue %}
                    <td scope="row">{{entry}}</td>
                    
                    {% set names = names.append(  (loan[1], loan[2])  ) %}
                    {% endif %}
                    

                {% endfor %}

            {% endif %}

        {% if overdue %}
        <form action="{{ url_for('loanreturn', bookid=loan[4], borrowerid=loan[0]) }}" method="POST">

            <td scope="row"> 
                <button method="POST" type="submit">
                Return</button></td>


        </form>
        {% endif %}
        
            
        </tr>
    {% endfor %}
</table>


{% endblock %}