<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}


<br/>
<h2>You searched for ....</h2> {{searched}}

<br/>



{% if booklist|length > 0 %}


<!-- code in here to display a list of books that contain searched string-->

<!-- Table -->

{% include "booktable.html" %}

{% else %}

    <h2> Sorry, no results for {{searched}}, please try again. </h2>

{% endif %}

{% endblock %}