<!-- Lu-Yung Huang  1154980-->

{% extends "base.html" %}
{% block content %}


<br/>
<h2>You searched for ....</h2> {{searched}}

<br/>



{% if results|length > 0 %}


<!-- code in here to display a list of books that contain searched string-->

<!-- Table -->

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Type</th>
            <th scope="col">Year of Publication</th>
            <th scope="col">Description</th>
        </tr>


    </thead>
    <tbody>        
        
    <!-- Getting data from booklist and fill them into rows -->
        
    {% for book in results %}
        <tr>
            {% for entry in book %}
                <td scope="row">{{entry}}</td>

            {% endfor %}
            <td><a href="{{ url_for('bookcopies', book_id=book[0]) }}"> View copies of this book </a></td>

        </tr>
    {% endfor %}

    </tbody>
</table>

{% else %}

    <h2> Sorry, no results for {{searched}}, please try again. </h2>

{% endif %}

{% endblock %}