<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}

{% block content %}

{% set id = borrower[0][0] %}
{% set firstname = borrower[0][1] %}
{% set familyname = borrower[0][2] %}
{% set dob = borrower[0][3] %}
{% set house = borrower[0][4] %}
{% set street = borrower[0][5] %}
{% set town = borrower[0][6] %}
{% set city = borrower[0][7] %}
{% set postcode = borrower[0][8] %}

</br>
<div class="container">
<h2>Update a Borrower</h2>



<div class="w-50 p-3 text-center">
    <label> ID : {{id}}</label>

    <form  action="{{ url_for('updateBorrower', borrower_id=id) }}" method="post">
        {{ form.csrf_token }}
      <!-- Borrower input -->

        <div class="form-outline mb-4">
            <label>{{ form.firstname.label() }}</label>
            <label> ({{ firstname }}) </label>
            {{ form.firstname(class="form-control me-2") }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.familyname.label() }}</label>
            <label> ({{ familyname }}) </label>
            {{ form.familyname(class="form-control me-2") }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.dateofbirth.label() }}</label>
            <label> ({{ dob }}) </label>
            {{ form.dateofbirth( class="form-control me-2 datepicker", value=dob, type="date") }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.housenumber.label() }}</label>
            <label> ({{ house }}) </label>
            {{ form.housenumber( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.street.label() }}</label>
            <label> ({{ street }}) </label>
            {{ form.street( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.town.label() }}</label>
            <label> ({{ town }}) </label>
            {{ form.town( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.city.label() }}</label>
            <label> ({{ city }}) </label>
            {{ form.city( class="form-control me-2" ) }}
        </div>

        <div class="form-outline mb-4">
            <label>{{ form.postcode.label() }}</label>
            <label> ({{ postcode }}) </label>
            {{ form.postcode( class="form-control me-2" ) }}
        </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">
        Submit</button>
    </form>
    
</div>

{% endblock %}

{% endif %}