<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}

{% block content %}

{% set id = borrower[0][0] %}
{% set firstname = borrower[0][1] %}
{% set familyname = borrower[0][2] %}
{% set dob = borrower[0][3] %}
{% set house = borrower[0][4] %}
{% set street = borrower[0][5] %}
{% set town = borrower[0][6] %}
{% set city = borrower[0][7] %}
{% set postcode = borrower[0][8] %}

</br>
<div class="container">
<h2>Update a Borrower</h2>



<div class="w-50 p-3 text-center">
    <label> ID : {{id}}</label>

    <form  action="{{ url_for('updateBorrower', borrower_id=id) }}" method="post">
        {{ form.hidden_tag() }}
      <!-- Borrower input -->
        <div class="form-outline mb-4">
            <label>First Name</label>
            <label> ({{ firstname }}) </label>
            <input class="form-control me-2" type="input" placeholder="First Name" aria-label="firstname" name="firstname">
        </div>

        <div class="form-outline mb-4">
            <label>Family Name</label>
            <label>({{familyname}})</label>
            <input class="form-control me-2" type="input" placeholder="Family Name" aria-label="familyname" name="familyname">
        </div>

        <div class="form-outline mb-4">
            <label>DoB</label>
            <label> ({{dob}}) </label>

            <input class="form-control me-2" type="date" id="dob" aria-label="DoB" name="dob"
               value= {{dob}}
               min="1950-01-01" max="2040-12-31" />
        </div>

        <div class="form-outline mb-4">
            <label>House Number/Name</label>
            <label> ({{house}}) </label>
            <input class="form-control me-2" type="input" placeholder="House Number/Name" aria-label="housenumber" name="housenumber">
        </div>

        <div class="form-outline mb-4">
            <label>Street</label>
            <label> ({{street}}) </label>
            <input class="form-control me-2" type="input" placeholder="Street" aria-label="street" name="street">
        </div>

        <div class="form-outline mb-4">
            <label>Town</label>
            <label>({{town}}) </label>
            <input class="form-control me-2" type="input" placeholder="Town" aria-label="town" name="town">
        </div>

        <div class="form-outline mb-4">
            <label>City</label>
            <label> ({{city}}) </label>
            <input class="form-control me-2" type="input" placeholder="City" aria-label="city" name="city">
        </div>

        <div class="form-outline mb-4">
            <label>Postal Code</label>
            <label> ({{postcode}})</label>
            <input class="form-control me-2" type="input" placeholder="Postal Code" aria-label="postcode" name="postcode">
        </div>
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">
        Submit</button>
    </form>
    
</div>

{% endblock %}

{% endif %}