<!-- Lu-Yung Huang  1154980-->

{% set baseurl = (request.url_rule|string()).split("/")[1] %}

{% if baseurl == staff %}
    {% extends "staff.html" %}

{% block content %}

{% set id = borrower[0][0] %}
{% set firstname = borrower[0][1] %}
{% set familyname = borrower[0][2] %}
{% set dob = borrower[0][3] %}
{% set house = borrower[0][4] %}
{% set street = borrower[0][5] %}
{% set town = borrower[0][6] %}
{% set city = borrower[0][7] %}
{% set postcode = borrower[0][8] %}

</br>
<div class="container">
<h2>Update a Borrower</h2>



<div class="w-50 p-3 text-center">
    <label> ID : {{id}}</label>

    <form  action="{{ url_for('updateBorrower', borrower_id=id) }}" method="post">

      <!-- Borrower input -->
        <div class="form-outline mb-4">
            <label>First Name</label>
            <label>({{ firstname }})</label>

            <input type="text" class="form-control me-2" id="fname" name="fname" placeholder="First Name" >

        </div>

        <div class="form-outline mb-4">
            <label>Family Name</label>
            <label>({{ familyname }})</label>

            <input type="text" class="form-control me-2" id="lname" name="lname" placeholder="Family Name" >

        </div>

        <div class="form-outline mb-4">
            <label>Date of Birth</label>
            <label>({{ dob }})</label>
            <input type="date" class="form-control me-2" id="dob" name="dob" placeholder="Date of Birth" >

        </div>

        <div class="form-outline mb-4">
            <label>House Numer / Name</label>
            <label>({{ house }})</label>
            <input type="text" class="form-control me-2" id="house" name="house" placeholder="House Numer / Name" >
        </div>

        <div class="form-outline mb-4">
            <label> Street </label>
            <label>({{ street }})</label>
            <input type="text" class="form-control me-2" id="street" name="street" placeholder="Street" >
        </div>

        <div class="form-outline mb-4">
            <label>Town</label>
            <label>({{ town }})</label>
            <input type="text" class="form-control me-2" id="town" name="town" placeholder="Town" >

        </div>

        <div class="form-outline mb-4">
            <label>City</label>
            <label>({{ city }})</label>
            <input type="text" class="form-control me-2" id="city" name="city" placeholder="City" >

        </div>

        <div class="form-outline mb-4">
            <label>Postal Code</label>
            <label>({{ postcode }})</label>
            <input type="number" class="form-control me-2" id="pcode" name="pcode" placeholder="Postal Code" >
        </div>

    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">
        Submit</button>
    </form>
    
</div>

{% endblock %}

{% endif %}