          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('listbooks') }}">List Books</a>
              </li>

            </ul>

            <!-- A place to search books (not book copies!), this can be achieved on any pages! -->
            <form method="POST" action="{{ url_for('search')}}" class="d-flex">

              <div class="btn-group" role="group"></div>
              <input class="form-control me-2" type="search" name="searched" id="searched" placeholder="Search Books!" required>
              <select  class="form-control me-2" name="selectedtype" id="selectedtype" required>
                <option value="All" selected>All</option>
                <option value="Title">Title</option>
                <option value="Author">Author</option>
          
            </div>
            <input type="submit" class="btn btn-outline-secondary">
          
          </form>
          </div>
