
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('staff') }}">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('stafflistbooks') }}">List Books</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('staffloanbook') }}">Loan Book</a>
              </li>
      
               <li class="nav-item">
                <a class="nav-link" href="{{ url_for('listborrowers') }}">List Borrowers</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('staffcurrentloans') }}">All Loans</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('overdueloans') }}">Overdue Loans</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('newBorrower') }}">Add Borrower</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('loansummary') }}">Loan Summary</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('borrowersummary') }}">Borrower Summary</a>
              </li>



            </ul>
            <form method="POST" action="{{ url_for('staffsearch')}}" class="d-flex">
                {{ SearchBookForm.csrf_token }}
                {{ SearchBookForm.searched(class="form-control me-2") }}
                <div class="btn-group" role="group"></div>

               {{ SearchBookForm.searchedType(class="form-control me-2") }}      

              </div>
              {{ SearchBookForm.submit(class="btn btn-outline-secondary") }}   
            </form>
          </div>