          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('listbooks') }}">List Books</a>
              </li>

            </ul>
            <form method="POST" action="{{ url_for('search')}}" class="d-flex">
                {{ SearchBookForm.csrf_token }}
                {{ SearchBookForm.searched(class="form-control me-2") }}
                <div class="btn-group" role="group" aria-label="Basic outlined example"></div>

               {{ SearchBookForm.searchedType(class="form-control me-2") }}      

              </div>
              {{ SearchBookForm.submit(class="btn btn-outline-secondary") }}   
            </form>
          </div>
