          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('listbooks') }}">List Books</a>
              </li>

            </ul>
            <form method="POST" action="{{ url_for('search')}}" class="d-flex">
                {{ SearchBookForm.hidden_tag() }}

                {{ SearchBookForm.searched(class="form-control me-2") }}

              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
